body {
  background: #212221;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
}
.intro {
  overflow: hidden;
}
.intro .title-img {
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  position: relative;
  opacity: 0.5;
}
.intro h1 {
  font-size: 70px;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .intro h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 700px) {
  .intro h1 {
    font-size: 40px;
  }
}
.intro h2.subtitle {
  font-size: 20px;
  font-family: 'Playfair Display SC';
  font-weight: normal;
  position: absolute;
  top: 63%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  letter-spacing: 0.05em;
}
h1.article-intro {
  font-family: 'Vast Shadow';
  font-size: 34px;
  font-weight: 400;
  color: #865;
  border-top: 4px double #676767;
  border-bottom: 4px double #676767;
  padding: 15px 0;
  text-align: center;
  margin-top: 100px;
}
@media only screen and (max-width: 520px) {
  h1.article-intro {
    padding: 20px;
  }
}
.main {
  *zoom: 1;
  width: auto;
  max-width: 520px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.main:before,
.main:after {
  content: '';
  display: table;
}
.main:after {
  clear: both;
}
.main h2 {
  margin-top: 30px;
  font-family: 'Playfair Display';
  color: #9d9e9d;
  font-weight: 900;
  letter-spacing: 0.05em;
  font-style: italic;
  font-size: 82px;
}
@media only screen and (max-width: 565px) {
  .main h2 {
    font-size: 50px;
  }
}
.main p {
  font-family: 'Playfair Display SC';
  margin-top: 40px;
  line-height: 36px;
  letter-spacing: 3.05px;
  font-size: 18px;
  text-align: left;
}
@media only screen and (max-width: 520px) {
  .main p {
    padding: 20px;
  }
}

