body {
  font-family: "Helvetica Neue";
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-weight: 200;
  letter-spacing: 0.15em;
  margin-bottom: 100px
}

a {
  color: black;
  display: block;
  line-height: 4;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none
}